* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

nav {
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    column-gap: 27px;
}

ul {
    display: flex;
    column-gap: 92px;
    list-style-type: none;
    font-size: 20px;
}


ul a {
    text-decoration: none;
    color: black;
}

.nav-btns {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.menu-btns {
    display: none;
}

.menu-btns>img:nth-of-type(1) {
    padding-right: 10px;
}

.logo-div {
    padding-top: 10px;
}

.nav-btns-w-search {
    display: flex;
    align-items: center;
    column-gap: 21px;
}

button[name="login"] {
    background-color: inherit;
    padding: 15px;
    border-style: none;
    font-size: 23px;
}

button[name="start"] {
    padding: 13px;
    width: 172px;
    border-style: none;
    font-size: 25px;
    background-color: white;
    color: #3a70e3;
    border: 1px solid #3a70e3;
    border-radius: 20px;
}

img[alt="menu-burger"] {
    display: none;
}



/* nav media query */

@media screen and (max-width: 1200px) and (min-width:992px) {

    ul {
        flex-direction: column;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 54px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    ul a {
        color: white;
    }

    ul a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 58px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list a:hover {
        color: white;
    }



    .ul-list li {
        font-size: 55px;
        padding-bottom: 22px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }

    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {
    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 58px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 54px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        font-size: 55px;
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 58px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 54px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        font-size: 55px;
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }




    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {

    ul {
        flex-direction: column;
    }

    .ul-list a:hover {
        color: white;
    }

    ul a {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 58px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 54px;
        background-color: #3a70e3;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        font-size: 55px;
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px;
    }
}




.main-background {
    text-align: center;
    padding: 30px;
    margin-top: 86px;
    position: relative;
}


.mydream-one {
    position: absolute;
    bottom: -12px;
    right: 426px;
}

.mydream-two {
    position: absolute;
    left: 417px;
    bottom: 440px;
}

/*  my  dream media query*/

@media screen and (max-width: 1200px) and (min-width:992px) {
    .mydream-one {
        display: none;
    }

    .mydream-two {
        display: none;

    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .mydream-one {
        display: none;
    }

    .mydream-two {
        display: none;

    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .mydream-one {
        display: none;
    }

    .mydream-two {
        display: none;

    }
}

@media screen and (max-width: 600px) {
    .mydream-one {
        position: absolute;
        bottom: -57px;
        right: -7px;
    }

    .mydream-two {
        position: absolute;
        bottom: 153px;
        left: -12px;
    }
}



.main-background>h1 {
    width: 67%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 47px;
}

.main-background p {
    padding-bottom: 20px;
    width: 54%;
    margin: auto;
    font-size: 25px;
}

button[name="srart-project-btn"] {
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-style: none;
    border-radius: 47px;
    background-color: #3a70e3;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

img[alt="back-img"] {
    width: 100%;
}

.background-img-div {
    width: 60%;
    margin: auto;
}



/* background img media query */

@media screen and (max-width: 1200px) and (min-width:992px) {

    .background-img-div {
        width: 100%;
    }
    .main-background p{
        width: 100%;
    }
    button[name="srart-project-btn"] {
        font-size: 35px;
    }

    .main-background>h1 {
        width: 76%;
        font-size: 49px;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .background-img-div {
        width: 100%;
    }
    .main-background p{
        width: 100%;
    }
    button[name="srart-project-btn"] {
        font-size: 35px;
    }

    .main-background>h1 {
        width: 76%;
        font-size: 49px;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    button[name="srart-project-btn"] {
        font-size: 35px;
    }

    .main-background>h1 {
        width: 76%;
        font-size: 49px;
    } 
    .main-background p{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    button[name="srart-project-btn"] {
        font-size: 35px;
    }

    .main-background>h1 {
        width: 76%;
        font-size: 49px;
    }
 .main-background p{
        width: 100%;
    }
}
.team{
    width: 89%;
    margin: auto;
}
.team h3 {
    color: #3a70e3;
    font-size: 40px;
    font-weight: 400;
}



.team-btns-div {
    display: flex;
    text-align: center;
    margin-top: 25px;
    column-gap: 15px;
}

.team-btns-div>button,
.our-story-btn-div>button {
    padding: 12px;
    width: 209px;
    border-radius: 50px;
    font-size: 18px;
}

.team-btns-div>button {
    background-color: #3a70e3;
    color: white;
    font-weight: 400;
    border-style: none;
    border-radius: 50px;
    font-size: 18px;

}

.our-story-btn-div>button {
    background-color: white;
    color: #3a70e3;
    font-weight: 400;
    border: 1px solid #3a70e3;
}


.our-story-btn-div {
    display: flex;
}

img[alt="team"] {
    width: 100%;
    border-radius: 50px;
}

.team-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    align-items: center;
    font-size: 16px;
    line-height: 30px;
}

.team-details>div:nth-of-type(1) {
    width: 45%;
}

.team-details>div:nth-of-type(2) {
    width: 52%;
    font-size: 18px;
}

.team-mate-desc {
    text-align: center;
    margin-bottom: 86px;
    margin-top: 41px
}

img[alt="team-details"] {
    width: 100%;
}

.team-details-btns {
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
}
.team-details-btns > button{
    padding: 13px;
    border-radius: 12px;
    border-style: none;
    font-size: 23px;
    width: 226px;
    font-weight: 500;
}

.team-details-btns > button:nth-of-type(1){
    background-color: #3a70e3;
    color: white;
}

.team-details-btns > button:nth-of-type(2){
    background-color: white;
    color: #3a70e3;
}
/* teammate media query */
@media screen and (max-width: 1200px) and (min-width:992px) {

    .team-btns-div {
        justify-content: space-evenly;
    }

    .team-details>div:nth-of-type(1) {
        width: 100%;
    }

    .team-details>div:nth-of-type(2) {
        width: 100%;
    }

}

@media screen and (max-width: 992px) and (min-width:786px) {

    .team-btns-div {
        justify-content: space-evenly;
    }

    .our-story-btn-div>button {
        font-size: 49px;
    }

    .team-btns-div>button {
        font-size: 49px;
    }

    .team-details>div:nth-of-type(1) {
        width: 100%;
    }

    .team-details>div:nth-of-type(2) {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    .team-btns-div {
        justify-content: space-evenly;
    }

    .team-btns-div>button {
        font-size: 35px;
    }

    .team-details>div:nth-of-type(1) {
        width: 100%;
    }

    .team-details>div:nth-of-type(2) {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .team {
        padding: 0;
    }

    .team-btns-div {
        justify-content: space-evenly;
    }


    .team-btns-div>button {
        font-size: 35px;
    }
    .team-details > div:nth-of-type(1){
        width: 100%;
    }
    .team-details > div:nth-of-type(2){
        width: 100%;
    }

}


.services {
    display: flex;
    justify-content: space-evenly;
    padding: 38px;
    align-items: center;

}

.up-down-cards {
    flex-wrap: wrap;
    width: 40%;
}

/* up and down cards media query */

@media screen and (max-width: 1200px) and (min-width:992px) {
    .up-down-cards {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .up-down-cards {
        width: 100%;
    }
}


@media screen and (max-width: 786px) and (min-width:600px) {
    .up-down-cards {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .up-down-cards {
        width: 100%;
    }
}


.read-more-div {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    padding-top: 27px;
}

.read-more-div>a {
    text-decoration: none;
    font-size: 30px;
    color: #3a70e3;
}



.services h3 {
    color: #3a70e3;
    font-size: 25px;
    font-weight: 400;

}



.up-div {
    display: flex;
    justify-content: center;
    column-gap: 17px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.down-div {
    display: flex;
    justify-content: center;
    column-gap: 17px;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.up-div>div {
    width: 45%;
    padding: 44px;
    border: 2px solid #e1e1e1;
    border-radius: 42px;
    text-align: center;
    margin-bottom: 20px;
}


.down-div>div {
    width: 45%;
    padding: 44px;
    border: 2px solid #e1e1e1;
    border-radius: 42px;
    text-align: center;
    margin-bottom: 20px;
}

.services-desc {
    padding: 20px;
    width: 51%;
}

.services-desc>h2 {
    padding-bottom: 20px;
    padding-top: 8px;
    font-size: 37px;
    font-weight: 400;


}

.services-text-div {
    font-size: 25px;
}

/* services media query */

@media screen and (max-width: 1200px) and (min-width:992px) {
    .services {}

    .services-desc {
        width: 100%;
    }


    .team-btns-div>button,
    .our-story-btn-div>button {
        border-radius: 50px;
        font-size: 18px;
    }

    .up-div>div {
        width: 46%;
    }

    .down-div>div {
        width: 46%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .services {
        flex-wrap: wrap;
        padding: 50px;
    }

    .services-text-div {
        width: 100%;
    }

    .services h3 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 75px;
    }

    .team-btns-div>button,
    .our-story-btn-div>button {
        border-radius: 50px;
        font-size: 32px;
    }


    .services-desc {
        width: 100%;
    }
    .up-div>div {
        width: 46%;
    }

    .down-div>div {
        width: 46%;
    }

    .up-div h2 {
        font-size: 40px;
    }

    .down-div h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .services {
        flex-wrap: wrap;
    }

    .services-text-div {
        width: 100%;
    }

    .services h3 {
        text-align: center;
        padding-bottom: 20px;
    }

    .team-btns-div>button,
    .our-story-btn-div>button {
        border-radius: 50px;
        font-size: 18px;
    }


    .services-desc {
        width: 100%;
    }

    .up-div>div {
        width: 100%;
    }

    .down-div>div {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .services {
        flex-wrap: wrap;
    }
    .services-text-div {

        width: 100%;

    }

    .services h3 {
        text-align: center;
        padding-bottom: 6px;
    }

    .services-desc {
        width: 100%;
    }

    .team-btns-div>button,
    .our-story-btn-div>button {
        border-radius: 50px;
        font-size: 18px;
    }

    .up-div>div {
        width: 100%;
    }

    .down-div>div {
        width: 100%;
    }

}

.what-we-do-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    row-gap: 20px;
}

.what-we-do-cards>div {
    width: 30%;
}

img[alt="we-do"] {
    border-radius: 57px;
    width: 100%;
}

.what-we-do {
    padding: 25px;
}


.what-we-do h3 {
    color: #3a70e3;
    font-size: 30px;
    font-weight: 400;

}
.team-mate-desc > h2{
    font-size: 50px;
    font-weight: 500;
}

.what-we-do h2 {
    padding-bottom: 20px;
    padding-top: 8px;
    font-size: 50px;
}

.portfolio-desc {
    text-align: center;
}

.portfolio-desc h2 {
    font-weight: 400;
}


.what-we-do-text-div {
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 21px;
}

.see-portfolio-div {
    text-align: center;
}

.see-portfolio-div>button {
    padding: 13px;
    border-radius: 35px;
    border: 1px solid #3a70e3;
    color: #3a70e3;
    width: 219px;
    font-weight: 500;
    background-color: white;
    font-size: 22px;

}

.what-we-do-headings {
    padding: 20px;
}

/* what we do media query */

@media screen and (max-width: 1200px) and (min-width:992px) {
    .what-we-do h3 {
        text-align: center;
        padding-bottom: 20px;
    }

    .what-we-do-cards>div {
        width: 45%;
    }

    .what-we-do-headings {
        width: 100%;
    }

    .what-we-do-text-div {
        width: 100%;
    }

}

@media screen and (max-width: 992px) and (min-width:786px) {
    .what-we-do h3 {
        text-align: center;
        font-size: 75px;
    }

    .what-we-do-cards>div {
        width: 100%;
    }

    .what-we-do-headings {
        width: 100%;
    }

    .what-we-do-text-div {
        width: 100%;
    }

    .testimonial h3 {
        font-size: 75px;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {
    .what-we-do h3 {
        text-align: center;
    }

    .what-we-do-cards>div {
        width: 100%;
    }

    .what-we-do-headings {
        width: 100%;
    }

    .what-we-do-text-div {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .what-we-do h3 {
        text-align: center;
    }

    .what-we-do-headings {
        width: 100%;
    }

    .what-we-do-cards>div {
        width: 100%;
    }

    .what-we-do-text-div {
        width: 100%;
    }

}

.testimonial h3 {
    font-size: 25px;
    color: #3a70e3;
}

.testimonial h2 {
    padding-bottom: 20px;
    padding-top: 8px;
    font-size: 50px;
}

.testimonial-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 34px;
}


.testimonial-desc {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.img-w-text-div {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.card {
    border: 1px solid black;
    box-shadow: 5px 6px 8px gainsboro;
    border-radius: 15px;
    margin-bottom: 25px;
    font-size: 23px;
    padding: 32px;
    width: 30%;
}

.card p {
    line-height: 50px;
}

img[alt="client"] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}



/* testimonial cards media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .card {
        width: 44%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .card {
        width: 76%;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {
    .card {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }


}


.collaboration {
    margin-top: 40px;
    margin-bottom: 50px;
}

.collaboration>div {
    width: 88%;
    margin: auto;
    margin-bottom: 100px;
}

.collaboration h2 {
    font-size: 50px;
    width: 63%;
    font-weight: 400;
    padding-bottom: 17px;
}

.collaboration p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    color: rgb(145, 152, 165);
}

button[name="get-started-btn"] {
    padding: 9px;
    width: 210px;
    color: white;
    border-style: none;
    background-color: #3a70e3;
    border-radius: 59px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 21px;
}

.img-above-img-div {
    display: flex;
    justify-content: center;
}

.img-above-img-div>div {
    width: 55%;
    margin: auto;
}

.img-above-img-div>div:nth-of-type(1) {
    position: relative;
    z-index: 1;

}

.img-above-img-div>div:nth-of-type(2) {
    margin-left: -238px;
    margin-top: -120px;
}

img[alt="above-img"] {
    width: 100%;
}

img[alt="under-img"] {
    width: 100%;
}


/* collaboration media query */


@media screen and (max-width: 1200px) and (min-width:992px) {
    .relative-collab-div {
        margin-top: 140px;
    }

    .rel-and-abs-imgs {
        position: relative;
        right: 99px;
        padding-top: 160px;
    }

    img[alt="absolute-img"] {
        width: 516px;
        bottom: 288px;
        left: 217px;
    }

    .collaboration h2 {
        width: 100%;
    }


    .img-above-img-div>div {
        width: 90%;
    }

}

@media screen and (max-width: 992px) and (min-width:786px) {
    .relative-collab-div {
        margin-top: 226px;
    }

    .rel-and-abs-imgs {
        position: relative;
        padding-top: 36px;
        margin-top: 40px;
    }

    img[alt="absolute-img"] {
        width: 375px;
        bottom: 168px;
        left: 368px;
        width: 516px;
        bottom: 288px;
    }

    .collaboration h2 {
        width: 100%;
    }

    .img-above-img-div>div {
        width: 90%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .relative-collab-div {
        margin-top: 140px;
    }

    .rel-and-abs-imgs {
        right: 0;
    }


    img[alt="absolute-img"] {
        width: 331px;
        bottom: 166px;
        left: 67px;
    }

    .collaboration h2 {
        width: 100%;
    }

    .img-above-img-div>div {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .relative-collab-div {
        margin-top: 140px;
    }


    img[alt="absolute-img"] {
        width: 331px;
        bottom: 166px;
        left: 67px;
    }

    .rel-and-abs-imgs {
        position: relative;
        right: 0;
        padding-top: 36px;
    }

    .collaboration h2 {
        width: 100%;
    }

    .img-above-img-div>div {
        width: 90%;
    }
}

.footer-main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 27px;
    font-size: 23px;
    row-gap: 15px;
    column-gap: 26px;
    background-color: rgb(59, 59, 59);
    color: white;
}

.footer-main-div>div {
    padding-top: 25px;
}

.icons-div {
    background-color: rgb(59, 59, 59);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 30px;
    column-gap: 42px
}

hr {
    width: 50%;
    margin: auto;
    background-color: rgb(203, 203, 203);
}


.copyright {
    background-color: rgb(59, 59, 59);
    text-align: center;
    color: white;
    padding: 10px;
}

/* footer media query */


@media screen and (max-width: 1200px) and (min-width:992px) {
    .footer-main-div {
        align-items: center;

    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .footer-main-div {
        align-items: center;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .footer-main-div {
        align-items: center;

    }
}

@media screen and (max-width: 600px) {
    .footer-main-div {
        align-items: center;

    }
}

img[alt="service"] {
    width: 100%;
}

.display {
    display: block;
}